<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOx8SoYP9KrTbv6mI8vwl6WM7ySmPDniQ</string>
	<key>GCM_SENDER_ID</key>
	<string>616013773637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgebrown.mads4005.SHEUNGKIT-Parking</string>
	<key>PROJECT_ID</key>
	<string>sheungkit-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>sheungkit-parking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616013773637:ios:b820a7f4875016a0b79c2c</string>
</dict>
</plist>